name: rust

on:
  # Triggers the workflow on pushes to main branch
  push:
    branches: [main]
  # Triggers on pull requests
  pull_request:
    branches:
      - '*'
  merge_group:
  workflow_dispatch:

concurrency:
  group: rust-${{ github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: full
  RUSTC_WRAPPER: sccache

jobs:
  test-rs:
    runs-on:
      - nscloud-ubuntu-22.04-arm64-16x32-with-cache
      - nscloud-cache-tag-bullet-build
      - nscloud-cache-size-100gb
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ github.event.pull_request.head.sha || github.sha }}
      - uses: dtolnay/rust-toolchain@stable
      - name: Free disk space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"
      - name: Install mold linker
        uses: rui314/setup-mold@v1
        with:
          mold-version: 2.0.0
          make-default: true
      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.9
      - name: Build agents (release)
        run: cargo build --release --locked -p relayer -p validator
        working-directory: ./rust/main
      - name: Run tests (relayer + validator)
        run: cargo test --locked -p relayer -p validator
        working-directory: ./rust/main

  lint-rs:
    runs-on:
      - nscloud-ubuntu-22.04-arm64-16x32-with-cache
      - nscloud-cache-tag-bullet-build
      - nscloud-cache-size-100gb
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ github.event.pull_request.head.sha || github.sha }}
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy
      - name: Free disk space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"
      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.9
      - name: Rustfmt (relayer + validator)
        run: cargo fmt -p relayer -p validator --check
        working-directory: ./rust/main

      - name: Cargo check (relayer + validator)
        run: cargo check --release --locked -p relayer -p validator
        working-directory: ./rust/main

      - name: Clippy (relayer + validator)
        run: cargo clippy --locked -p relayer -p validator -- -D warnings
        working-directory: ./rust/main
